header {
    background-color: #20B2AA;
    color: #E8FDFF;
    font-size: 20px;
}

body {
    background-color: whitesmoke;
}

main {
    background-color: white;
    padding: 16px;
}
.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 50%;
}
 